.doc-card-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: center;
  margin: 20px;
}


.doc-card {
  flex-basis: 45%;
  border-radius: 8px;
  border: solid;
  border-color: #2c275a;
  overflow: hidden;
}

[data-theme='dark'] .doc-card {
  border-color: #f2b25e;
}

.doc-card a {
  display: block;
  text-decoration: none;
}

.doc-card-content {
  padding: 10px;
}
